@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/config/Colors.module.sass' as c

.component
    
    .wrapperDesktop 
        @media (max-width : 1200px)
            display: none
    .wrapperMobile
        display: none
        @media (max-width : 1200px)
            display: block 
        .logoWrapper
            position: relative
            width: 295px
            height: 37px
            & img
                width: 100%
                object-fit: contain
    padding-top: 20px
    padding-bottom: 40px
    overflow-x: visible
    @media (max-width: 1200px)
        position: sticky
        top: 0
        z-index: 11
        background-color: c.$color-white
        padding-bottom: 20px
    & a 
        color: c.$color-black
    .firstLine
        
        display: flex
        flex-wrap: nowrap
        justify-content: space-between
        .logoWrapper
            position: relative
            width: 295px
            height: 37px
            & img
                width: 100%
                object-fit: contain
        .rightBlockWrapper
            display: flex
            align-content: center
            gap: 20px
            .phone
                display: flex
                align-items: center
                font-size: 15px
                gap: 10px
                
        .wrapperPhonesWrapper
            position: relative
            .blutBtn
                background-color: c.$color-blue-v3
                max-height: 45px
                border-radius: 15px
                transition: transform 0.2s ease
                &:hover
                    transform: scale(1.05)
            .tooltipBlock
                min-width: 430px
                right: 0
                top: 65px
                position: absolute
                background: c.$color-white
                padding: 30px
                z-index: 5
                border-radius: 20px
                display: none
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px
                &.active
                    display: flex
                    flex-direction: column
                    gap: 30px
                .phones
                    color: c.$color-black
                    display: flex
                    justify-content: space-between
                    margin-top: 20px

        .btnLinkTo
            display: inline-flex
            align-items: center
            gap: 10px
            border: 2px solid c.$color-dark-grey
            padding: 10px 20px
            border-radius: 15px
            color: c.$color-black
            font-weight: 500
            transition: transform 0.2s ease
            &:hover
                transform: scale(1.05)
    .seconLine
        color: c.$color-black
        margin-top: 30px
        display: flex
        .lineSecondMenu
            display: flex
            align-content: center
            gap: 20px
            margin: 0 auto
            & > a
                transform: all 0.3s ease
                &:hover
                    color: c.$color-dark-grey
.buttons 
    display: flex
    align-items: center
    justify-content: space-between
    .btnBlue
        display: flex
        align-items: center
        gap: 10px
        background-color: c.$color-blue
        color: c.$color-white !important
        padding: 10px
        max-height: 45px
        padding: 15px 20px
        border-radius: 15px
        transition: transform 0.2s ease
        &:hover
            transform: scale(1.05)
        &.whatsapp
            background-color: #23D366
            &:hover
                transform: scale(1.05)
            


.mobileLineMenu
    display: flex
    justify-content: space-between
    overflow-x: auto
    overflow-y: hidden
    .icons
        display: flex
        align-items: center
        gap: 10px