@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/config/Colors.module.sass' as c

.component
  font-size: 44px
  font-style: normal
  font-weight: 500
  line-height: 120%
  margin: 0
  &.black 
    color: c.$color-black
  &.grey
    color: c.$color-dark-grey
  &.white
    color: c.$color-white
  &.purple
    color: c.$color-purple