@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/config/Colors.module.sass' as c

.container
  position: relative
  max-width: max-content

.close
  position: absolute
  top: f.px(-45)
  right: f.px(-4)

.image 
  &.forDiplomas
    width: 700px
    height: 500px
    @media (max-width: 720px)
      width: 700px
      min-height: 400px
  img 
    width: 100%
    object-fit: cover