@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/config/Colors.module.sass' as c

.container
  @include m.media(phone, tablet)
    margin-bottom: f.px(50)
    padding-top: f.px(20)
    padding-bottom: f.px(50)
    .title
      font-size: 22px !important
      
  @include m.media(laptop, desktop)
    padding-top: f.px(0)
    padding-bottom: f.px(50)
    font-weight: 500


.whatYouWillLearn
  padding: 0
  margin: 0
  margin-top: 50px
  display: grid
  grid-template-columns: 1fr 1fr 1fr
  gap: 30px
  @include m.media(phone, tablet)
    grid-template-columns: 1fr
    gap: 15px
    font-size: 18px !important
  .item 
    display: inline-flex
    justify-content: start
    align-items: center
    color: c.$color-black
    border: 1px solid c.$color-blue
    border-radius: 25px
    padding: 30px
    

