{
  "semi": false,
  "singleQuote": true,
  "arrowParens": "avoid",
  "jsxBracketSameLine": true,
  "proseWrap": "always",
  "useTabs": false,
  "jsxSingleQuote": true,
  "useEditorConfig": false,
  "enableDebugLogs": true,
  "filepath": "./",
  "trailingComma": "all",
  "printWidth": 120,
  "tabWidth": 2,
  "lint-staged": {
    "**/*": "prettier --write --ignore-unknown"
  }
}
