@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/config/Colors.module.sass' as c
    
.component
    background-color: c.$color-grey-bg
    padding-top: 100px
    @media (max-width : 1200px)
        padding-top: 40px
    .wrapper 
        display: flex
        flex-direction: column
    .titleBlock
        display: flex
        justify-content: space-between
        font-size: 18px
        line-height: 120%
        font-weight: 500
        & div
            display: flex
            align-items: center
            justify-content: center
            gap: 10px
            flex-shrink: 0
            span
                display: inline-block
                color: c.$color-white
                background-color: c.$color-blue
                width: 40px
                height: 40px
                border-radius: 50%
                display: flex
                justify-content: center
                align-items: center
        @media (max-width : 1200px)
            flex-direction: column
            gap: 10px
            .title
                font-size: 26px !important
    .cards
        display: grid
        grid-template-columns: repeat(4, 1fr)
        gap: 30px
        margin-top: 50px
        @media (max-width : 1200px)
            grid-template-columns: 1fr
            margin-top: 20px
    .button 
        margin: 0 auto
        margin-top: 50px