.component 
  padding: 16px 40px
  font-size: 18px
  font-weight: 500
  line-height: normal
  display: inline-block
  color: #fff
  border-radius: 8px
  position: relative

  &.blue
    background-color: #0072E5
    color: #fff

  &.white
    background-color: #fff
    color: #000