@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/config/Colors.module.sass' as c
@use '@/styles/utils/mixin/media' as bp

.container
  @include m.media(phone, tablet)
    padding-right: f.px(15)
    padding-left: f.px(15)
  @include m.media(laptop, desktop)
    padding-right: f.px(15)
    padding-left: f.px(15)
    overflow: visible
  &.altStyles
    @include m.media(phone, tablet)
      padding-bottom: f.px(50)
    @include m.media(laptop, desktop)
      padding-bottom: f.px(100)
    @include m.dye(bg, c.$pi-2)
  &.forPhychology
    background-color: c.$color-verywhite-purple
    padding-top: 50px

.wrapper
  &.altStyles
    @include m.media(laptop, desktop)
      padding-top: f.px(56)
      padding-right: f.px(73)
      padding-bottom: f.px(56)
      padding-left: f.px(73) 
    @include m.dye(bg, c.$nu)
    @include m.dye(c, c.$chi)
  @include m.media(phone, tablet)
    padding-top: f.px(50)
    padding-right: f.px(25)
    padding-bottom: f.px(50)
    padding-left: f.px(25)
    border-radius: f.px(50) 0
  @include m.media(laptop, desktop)
    position: relative
    display: flex
    align-items: center
    padding-top: f.px(43)
    padding-bottom: f.px(43)
    border-radius: f.px(100) 0
  @include m.media(laptop)
    padding-right: f.px(50)
    padding-left: f.px(50)
  @include m.media(desktop)
    padding-right: f.px(100)
    padding-left: f.px(100)
  @include m.dye(bg, c.$beta)
  &.forPhychology
    background: none
    border: 1px solid c.$color-purple
  @include m.dye(c, c.$nu)
  @media screen and (min-width: bp.$tablet) and (max-width: 920px)
    display: flex
    justify-content: space-between
  
.img
  @include m.media(phone, tablet)
    display: none
  @include m.media(laptop, desktop)
    position: absolute
    left: f.px(-50)
  @include m.media(laptop)
    bottom: f.px(-5)
  @include m.media(desktop)
    bottom: f.px(-4)
  @media screen and (min-width: bp.$tablet) and (max-width: 920px)
    display: none

.IconGeneralPercent
  &.altStyles
    @include m.media(phone, tablet)
      min-width: 50%
      max-width: 50%
      margin-left: auto
      margin-right: auto
      margin-bottom: f.px(20)
    @include m.media(laptop, desktop)
      margin-right: f.px(30)
      min-width: 18.5%
      max-width: 18.5%

.text
  &.altStyles
    margin-left: 0
    margin-right: f.px(30)
  @include m.media(laptop)
    flex-basis: 60%
    margin-left: 30%
  @include m.media(desktop)
    flex-basis: 50%
    margin-left: 20%
  @media screen and (min-width: bp.$tablet) and (max-width: 920px)
    margin-left: 0

.title
  @include m.media(phone, tablet)
    margin-bottom: f.px(10)
    font-size: f.px(26)
  @include m.media(laptop)
    max-width: 9ch
    margin-bottom: f.px(20)
    margin-right: f.px(84)
    font-size: f.px(44)
  @include m.media(desktop)
    margin-bottom: f.px(20)
    margin-right: f.px(70)
    font-size: f.px(44)
  font-weight: 500
  @media screen and (min-width: bp.$tablet) and (max-width: 920px)
    max-width: 15ch
    margin-right: 0
  &.altStyles
    @include m.media(phone, tablet)
      margin-bottom: f.px(20)
    @include m.media(laptop, desktop)
      margin-bottom: f.px(30)

.p
  &.altStyles
    font-weight: 400
    max-width: 30ch
    @include m.media(phone, tablet)
      margin-bottom: f.px(30)
  @include m.media(phone, tablet)
    margin-bottom: f.px(37)
    font-size: f.px(18)
  @include m.media(laptop)
    max-width: 28ch
    margin-bottom: 0
    font-size: f.px(20)
  @include m.media(desktop)
    max-width: 34ch
    margin-bottom: 0
    font-size: f.px(20)
  font-weight: 300
  line-height: 130%

.btn
  @include m.media(laptop, desktop)
    & > *
      width: 100%
      & > *
        width: 100%
  @include m.media(laptop)
    flex-basis: 40%
  @include m.media(desktop)
    flex-basis: 30%
