@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/config/Colors.module.sass' as c

.container
  @include m.gap($pb: 0)
  @include m.media(laptop, desktop)
    margin-top: f.px(-116)
    & > *
      @include m.gap($plr: f.px(0))
  &.altStyles
    @include m.media(phone, tablet)
      margin-top: f.px(-52)
      margin-bottom: f.px(50)
    @include m.media(laptop, desktop)
      margin-bottom: f.px(100)
    &.forPhychology
      @include m.media(phone, tablet)
        padding: 0
        margin-top: 0
.wrapper
  @include m.media(phone, tablet)
    @include m.gap($ptb: f.px(57), $plr: f.px(33))
    border-radius: f.px(50) 0
  @include m.media(laptop, desktop)
    @include m.flex($jc: space-between)
    @include m.gap($ptb: f.px(30), $plr: f.px(80))
    border-radius: 0 0 f.px(100) 0 
  @include m.dye(bg, c.$delta)
  &.altStyles
    border-radius: 0 0 f.px(25) 0
    border: 1px solid
    @include m.dye(border, c.$pi-2)
    @include m.dye(bg, c.$nu)
  &.forPhychology
    background-color: c.$color-verywhite-purple
    border-radius: 0 0 100px 10px
    border: 1px solid #6F01C6 !important
    border-top: none !important
    @include m.media(phone, tablet)
      padding-right: 20px
      padding-left: 20px

.img
  @include m.media(phone, tablet)
    display: none
  @include m.media(laptop, desktop)
    @include m.flex($display: false, $fb: 30%)
    min-width: f.px(170)
    max-width: f.px(170)
    min-height: f.px(170)
    max-height: f.px(170)
    @include m.gap($mr: f.px(50))
    border-radius: f.px(100)
    overflow: hidden

.text
  @include m.media(laptop, desktop)
    @include m.flex($display: false, $fb: 50%, $as: center)
    @include m.gap($mr: f.px(36))
  &.altStyles
    @include m.dye(c, c.$mu-2)

.title
  @include m.gap($mb: f.px(10))
  @include m.media(phone, tablet)
    font-size: f.px(26)
  @include m.media(laptop, desktop)
    font-size: f.px(44)
  font-weight: 500
  @include m.dye(c, c.$nu)
  &.altStyles
    @include m.dye(c, c.$mu-2)

.p
  @include m.gap($mb: f.px(20))
  @include m.media(phone, tablet)
    font-size: f.px(18)
  @include m.media(laptop, desktop)
    font-size: f.px(20)
    max-width: 31ch
  font-weight: 300
  line-height: 130%
  @include m.dye(c, c.$nu)
  &.altStyles
    @include m.dye(c, c.$mu-2)


.btn
  @include m.media(laptop, desktop)
    @include m.flex($display: false, $fb: 30%)
    @include m.gap($mt: f.px(21))
    & > *
      width: 100%
      & > *
        width: 100%
    &.altStyles
      margin: 0
      display: flex
      justify-content: center
      align-items: center
