
.descriptionProgram
  padding: 65px 0 120px
  position: relative
  display: flex
  justify-content: space-between
  gap: 10px

  &_wrapperDescr
    max-width: calc(100% - 513px)

  &_wrapperImage
    position: relative
    width: 513px
    height: 416px

.header
  font-size: 48px
  font-weight: 700
  line-height: 67px
  margin: 0

.subHeader
  font-size: 28px
  font-weight: 700
  line-height: 36px
  margin: 60px 0 0


.text
  font-size: 22px
  font-weight: 400
  line-height: 30px
  margin: 20px 0 0
