.wrapperBlock
  margin: 60px 0 100px
  display: flex
  justify-content: space-between
  align-items: baseline

  @media (max-width: 767px)
    flex-direction: column

.btn
  margin-top: 60px

  @media (max-width: 979px)
    display: none

.header
  font-size: 48px
  font-weight: 700
  line-height: 57px
  margin: 0

  @media (max-width: 979px)
    font-size: 44px
    line-height: 52px

  @media (max-width: 767px)
    font-size: 38px
    line-height: 48px

.subHeader
  font-size: 22px
  font-weight: 400
  line-height: 30px

.blockHeader
  width: 424px

  @media (max-width: 767px)
    width: 100%

.blockFaq
  width: 680px
  display: flex
  flex-direction: column
  gap: 20px
  overflow: hidden

  @media (max-width: 767px)
    width: 100%
    margin-top: 40px
