.headerBlock
  margin-top: 99px
  display: flex
  justify-content: space-between
  align-items: center

  .wrapperContent
    width: calc(100% - 250px)

  .btns
    width: 250px
    display: flex
    justify-content: center
    align-items: center
    gap: 20px

    button
      background-color: black
      position: relative
      width: 35px
      height: 20px

  @media (max-width: 767px)
    margin-top: 60px

  @media (max-width: 567px)
    flex-direction: column

    .wrapperContent
      width: 100%

    .btns
      margin-top: 50px


.footer
  position: relative
  display: flex
  gap: 50px
  padding: 50px
  border-radius: 20px
  border: 1px solid #573DD6

  @media (max-width: 767px)
    width: calc(100% - 20px)
    margin: 0 auto
    gap: 30px
    padding: 30px
  @media (max-width: 567px)
    flex-direction: column
    align-items: baseline

.header
  font-size: 48px
  font-weight: 700
  line-height: 57px
  margin: 0

  @media (max-width: 767px)
    font-size: 32px
    line-height: 38px

.subHeader
  font-size: 28px
  line-height: 36px
  font-style: normal
  font-weight: 400
  margin: 10px 0 0

  @media (max-width: 767px)
    font-size: 24px

.footerImage
  position: relative
  min-width: 177px
  height: 200px
  border-radius: 100%
  background-color: rgba(0, 0, 0, 0.10)
  padding: 50px

  @media (max-width: 767px)
    min-width: 114px
    height: 114px
    margin: 0 auto

.footerInfo
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: baseline

  .subHeader
    font-weight: 700

.imageDecorator
  position: absolute
  bottom: -60px
  right: 90px
  width: 148px
  height: 183px

  @media (max-width: 767px)
    width: 108px
    height: 143px

  @media (max-width: 567px)
    display: none

.sliderWrapper
  position: relative

  .listSlider
    margin: 50px 0
    padding-left: 0
    display: flex
    justify-content: flex-start
    gap: 20px


.btn
  display: inline-block
  margin-top: 33px

  @media (max-width: 767px)
    display: block
    min-width: 100%
    font-size: 20px
    padding: 20px

