.header
  font-size: 48px
  font-weight: 700
  line-height: 57px

  @media (max-width: 1200px)
    font-size: 44px

  @media (max-width: 979px)
    font-size: 42px
    line-height: 52px

  @media (max-width: 767px)
    font-size: 38px
    line-height: 44px

.wrapperCard
  margin: 0 0 60px
  padding: 20px 0
  display: flex
  justify-content: space-between
  overflow-x: scroll
  gap: 20px

  //&::-webkit-scrollbar
  //  display: none
