.header
  font-size: 48px
  font-weight: 700
  line-height: 57px
  margin: 0

.text
  margin-top: 10px
  font-size: 22px
  font-weight: 400
  line-height: 30px

.listStudy
  margin-top: 50px
  display: flex
  flex-wrap: wrap
  gap: 20px


.listStudyPro
  position: relative
  margin-top: 50px
  margin-bottom: 60px
  display: flex
  justify-content: space-between
  flex-wrap: wrap
  border-radius: 20px
  border: solid 1px #1047D4

  .card
    width: 380px
    min-height: 200px
    padding: 40px 35px
    overflow: hidden

.wrapperLogo
  display: flex
  justify-content: space-between
  align-items: center
  position: absolute
  top: -20px
  left: 40px
  border-radius: 5px
  background: #1047D4
  padding: 5px 20px

  p
    color: white
    font-size: 28px
    font-weight: 700
    margin: 10px 0 0 7px

.card
  display: block
