.trainEmployees
  margin-top: 90px

.header
  font-size: 48px
  font-weight: 700
  line-height: 57px

  @media (max-width: 979px)
    font-size: 44px
    line-height: 53px

  @media (max-width: 767px)
    font-size: 38px
    line-height: 48px

.listCompany
  margin-top: 40px
  padding: 0
  display: flex
  gap: 20px
  flex-wrap: wrap

  @media (max-width: 979px)
    justify-content: center
    align-items: center

  .item
    overflow: hidden
    display: flex
    align-items: center
    justify-content: center
    list-style-type: none
    border: 1px solid black
    border-radius: 20px
    width: 280px
    height: 140px

    @media (max-width: 979px)


    div
      position: relative
      width: 200px
      height: 100px

      img
        object-fit: contain

.graduates
  position: relative
  width: 1440px
  margin: 90px auto 0 auto
  border-radius: 23px
  background: #1047D5

  @media (max-width: 1440px)
    width: 100%

  @media (max-width: 979px)
    margin-top: 140px

  @media (max-width: 767px)
    margin-top: 60px
    display: flex
    flex-direction: column-reverse
    align-items: center

  @media (max-width: 767px)
    border-radius: 0

  .imgWrapper
    position: absolute
    right: 0
    top: -70px
    width: 571px
    height: 606px

    @media (max-width: 1200px)
      width: 371px
      height: 406px

    @media (max-width: 979px)
      width: 285px
      height: 203px
      top: -130px

    @media (max-width: 767px)
      position: relative
      top: inherit
      width: 355px
      height: 217px

    @media (max-width: 360px)
      width: 255px
      height: 173px

.wrapperGraduates
  display: flex
  align-items: baseline
  padding: 40px 0
  color: white
  @media (max-width: 767px)
    flex-direction: column

  @media (max-width: 979px)
    padding: 20px

  .listSurvey
    width: 650px
    margin: 15px 0 50px
    display: flex
    justify-content: space-between
    gap: 20px
    padding: 0

    @media (max-width: 979px)
      width: 100%

    @media (max-width: 567px)
      flex-direction: column

    li
      list-style-type: none
      width: calc(100% / 3)
      @media (max-width: 567px)
        width: 100%

  h2
    font-size: 48px
    font-weight: 700
    margin: 0
  h3
    font-size: 28px
    font-weight: 700
    line-height: 36px
    margin: 0
  p
    font-size: 22px
    font-weight: 400
    line-height: 30px
    margin: 0

.desctop
  display: block

  @media (max-width: 979px)
    display: none

.mobile
  display: none

  @media (max-width: 979px)
    display: block

  @media (max-width: 767px)
    position: absolute
    width: 330px
    height: 254px
    margin: -50px auto 0 auto

  @media (max-width: 400px)
    width: 280px
    height: 204px

.btn
  @media (max-width: 767px)
    width: 100%
