.vacanciesProfession
  background: #EDF0F2
  padding: 10px 0

.contentBlock
  display: flex
  justify-content: space-between
  gap: 10px

  @media (max-width: 1200px)
    flex-direction: column

.imageWrapper
  position: relative
  width: 482px
  height: 595px

  @media (max-width: 979px)
    width: 382px
    height: 495px

  @media (max-width: 767px)
    img
      object-fit: contain

.wrapperBlock
  position: relative
  display: flex

  @media (max-width: 767px)
    flex-direction: column-reverse
    align-items: center
    justify-content: center

.topContent
  @media (max-width: 767px)
    width: 100%


.wrapperCardVacancies
  display: flex
  flex-direction: column
  gap: 26px
  margin-top: 60px

  @media (max-width: 767px)
    flex-direction: row

  @media (max-width: 576px)
    position: absolute
    bottom: 180px
    z-index: 100

.infoBlock
  margin-top: 30px

.cardVacancies
  border-radius: 20px
  background: #FFF
  padding: 20px 40px
  width: 340px
  min-height: 200px

  h3
    font-size: 60px
    font-weight: 700
    line-height: 84px
    margin: 0

  p
    font-size: 22px
    font-weight: 400
    line-height: 30px
    margin: 0

  @media (max-width: 979px)
    padding: 20px 30px

  @media (max-width: 767px)
    width: 50%

  @media (max-width: 576px)
    padding: 10px
    min-height: 150px
    h3
      font-size: 38px
      line-height: 44px
    p
      font-size: 18px
      line-height: 26px

.wrapperCardSalary
  display: flex
  flex-direction: column
  margin-top: 60px

  @media (max-width: 1200px)
    flex-direction: row
    justify-content: space-between

  @media (max-width: 767px)
    margin-top: 10px

  @media (max-width: 576px)
    gap: 20px
    flex-direction: column
    padding-bottom: 25px

.cardSalary
  width: 280px
  border-bottom: 1px solid black

  h3
    color: #6165D7
    font-size: 48px
    font-weight: 700
    line-height: 57px
    margin: 0

  @media (max-width: 1200px)
    border-bottom: none

  @media (max-width: 767px)
    h3
      font-size: 42px
      line-height: 48px

  @media (max-width: 576px)
    border-bottom: 1px solid black
    width: 100%

    h3
      font-size: 38px
      line-height: 42px

.header
  font-size: 28px
  font-weight: 700
  line-height: 36px

.text
  font-size: 22px
  font-weight: 400
  line-height: 30px

  @media (max-width: 767px)
    font-size: 20px

  @media (max-width: 576px)
    font-size: 18px