.vacanciesProfession
  background: #EDF0F2
  padding: 10px 0

.contentBlock
  display: flex
  justify-content: space-between
  gap: 10px

.imageWrapper
  position: relative
  width: 482px
  height: 595px


.wrapperCardVacancies
  display: flex
  flex-direction: column
  gap: 26px
  margin-top: 60px

.infoBlock
  margin-top: 30px

.cardVacancies
  border-radius: 20px
  background: #FFF
  padding: 20px 40px
  width: 340px
  height: 200px

  h3
    font-size: 60px
    font-weight: 700
    line-height: 84px
    margin: 0

  p
    font-size: 22px
    font-weight: 400
    line-height: 30px
    margin: 0

.wrapperCardSalary
  display: flex
  flex-direction: column
  margin-top: 60px

.cardSalary
  width: 280px
  border-bottom: 1px solid black
  h3
    color: #6165D7
    font-size: 48px
    font-weight: 700
    line-height: 57px
    margin: 0

.header
  font-size: 28px
  font-weight: 700
  line-height: 36px

.text
  font-size: 22px
  font-weight: 400
  line-height: 30px
