.weTookCareBlock
  position: relative
  display: flex
  width: 1440px
  height: 504px
  margin: 60px auto
  padding: 58px 130px
  border-radius: 31px
  background: linear-gradient(263deg, #C5C7F9 19.3%, #F4FBFF 89.87%)

  @media (max-width: 1441px)
    width: 1140px
    padding: 20px 40px

  @media (max-width: 1200px)
    width: 100%
    border-radius: 0
    height: auto

  @media (max-width: 979px)
    flex-direction: column
    align-items: center
    justify-content: center
    padding: 20px 40px 0

  @media (max-width: 767px)

  @media (max-width: 567px)

.blockHeader
  width: 42%

  @media (max-width: 979px)
    width: 100%

.blockInfo
  width: 58%
  display: flex
  justify-content: space-between
  flex-wrap: wrap
  gap: 20px

  @media (max-width: 1441px)
    width: 76%

  @media (max-width: 979px)
    width: 100%
    margin-top: 30px

.wrapperImage
  position: absolute
  width: 521px
  height: 330px
  bottom: 0
  left: 60px

  @media (max-width: 1441px)
    width: 421px
    height: 270px

  @media (max-width: 1200px)
    width: 321px
    height: 220px

  @media (max-width: 979px)
    display: none

.card
  width: 330px
  display: flex
  gap: 10px
  justify-content: space-between
  align-items: flex-start

  .cardImage
    position: relative
    display: inline-block
    width: 60px

  .text
    width: calc(100% - 35px)
    font-size: 22px
    font-weight: 400
    line-height: 30px

  @media (max-width: 1200px)
    width: 48%

  @media (max-width: 600px)
    width: 100%

.header
  font-size: 48px
  font-weight: 700
  line-height: 57px
  margin: 0


.subHeader
  font-size: 28px
  font-weight: 700
  line-height: 36px
  margin: 0


.notification
  position: absolute
  top: -30px
  left: 50px

.imageMedia
  position: relative
  width: 521px
  height: 330px
  bottom: 0
  display: none
  img
    object-fit: contain

  @media (max-width: 979px)
    display: block

  @media (max-width: 767px)
    width: 321px
    height: 200px

  @media (max-width: 567px)

