.weTookCareBlock
  position: relative
  display: flex
  width: 1440px
  height: 504px
  margin: 60px auto
  padding: 58px 130px
  border-radius: 31px
  background: linear-gradient(263deg, #C5C7F9 19.3%, #F4FBFF 89.87%)

.blockHeader
  width: 42%

.blockInfo
  width: 58%
  display: flex
  justify-content: space-between
  flex-wrap: wrap
  gap: 20px

.wrapperImage
  position: absolute
  width: 521px
  height: 330px
  bottom: 0
  left: 60px

.card
  max-width: 330px
  display: flex
  gap: 10px
  justify-content: space-between
  align-items: flex-start

  .cardImage
    position: relative
    display: inline-block
    width: 60px

  .text
    width: calc(100% - 35px)
    font-size: 22px
    font-weight: 400
    line-height: 30px

.header
  font-size: 48px
  font-weight: 700
  line-height: 57px
  margin: 0


.subHeader
  font-size: 28px
  font-weight: 700
  line-height: 36px
  margin: 0


.notification
  position: absolute
  top: -30px
  left: 50px

