@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/config/Colors.module.sass' as c
@use '@/styles/layout/onHover' as onHover

$ebp: 920px
$esbp: 850px

.container
  @include m.media(phone, tablet)
    padding-top: f.px(16)
    padding-bottom: f.px(16)
  @include m.media(laptop, desktop)
    padding-bottom: f.px(32, em)
  @include m.dye(bg, c.$alpha)
  &.altStyles
    @include m.dye(bg, c.$mu-2)

.contentNewCourse
  @include m.media(phone, tablet)
  @include m.media(laptop, desktop)
  &.altStyles

.top
  @include m.media(phone, tablet)
    display: none
  @include m.media(laptop, desktop)
    @include m.flex($jc: space-between)
    @include m.gap($ptb: f.px(24))
  &.altStyles
    @include m.media(laptop, desktop)
      position: relative
      &::after
        content: '',
        position: absolute
        bottom: f.px(-400)
        right: f.px(280)
        z-index: 0
        min-width: f.px(270)
        max-width: f.px(270)
        min-height: f.px(270)
        max-height: f.px(270)
        border-radius: 50%
        filter: blur(192px)
        @include m.dye(bg, c.$nu-2)

.topleft
  @include m.media(laptop, desktop)
    @include m.flex($ai: center)
    @include m.gap($mr: f.px(20, em))

.linkInfo
  @include m.media(laptop, desktop)
    max-width: 27ch
    @include m.gap($mr: f.px(10, em))
    font-size: f.px(13)
    @include m.dye(c, rgba(c.$nu, .5))

.location
  @include m.media(laptop, desktop)
    @include m.flex($jc: center, $ai: center)

.icon
  @include m.media(laptop, desktop)
    @include m.gap($mr: f.px(10))

.p
  @include m.gap($mb: 0)
  font-weight: 300
  @include m.dye(c, c.$nu)

.topright
  @include m.flex($ai: center)

.wrapperPhones 
  @include m.flex($fd: column, $ai: center)

.phone,
.phoneNoNum
  @include m.gap($mr: f.px(30))

.phone
  display: block
  @media screen and ( max-width: $ebp )    
    display: none
  @include m.media(laptop, desktop)
    & > *
      outline: none
      @include onHover.highlightWithBottomLine($bottom: f.px(-4))
      @include onHover.rotateChild($deg: 35deg)

.phoneNoNum
  display: none
  @media screen and ( max-width: $ebp )    
    @include m.flex($jc: center, $ai: center)

.row
  @include m.flex($jc: space-between, $ai: center)


.mobileCourse
  background: linear-gradient(101deg, rgba(170, 224, 255, 0.4) 15.37%, rgba(225, 243, 255, 0.4) 82.47%)
  @media (max-width: 767px)
    background: #c5c5c5

.btns
  @include m.media(phone, tablet)
    min-width: f.px(84, em)
    width: 24%
    max-width: f.px(98, em)
    @include m.flex($jc: space-between, $ai: center)
  @include m.media(laptop, desktop)
    display: none

.btnFields
  @include m.media(phone, tablet)
    display: none

.link
  position: relative
  z-index: 2
  @include m.media(phone, tablet)
    display: none
  @include m.media(laptop, desktop)
    font-size: f.px(18)
    font-weight: 300
    @include m.dye(c, c.$nu) 
    outline: none
    @include onHover.highlightWithBottomLine($bottom: f.px(-10))

.linkFirst
  @media screen and (max-width: $ebp)
    display: none

.linkThird
  @media screen and (max-width: $esbp)
    display: none

.saleBlock 
  position: fixed
  left: 0
  visibility: hidden
  transition: all 0.3s ease-out
  right: 0
  opacity: 0
  top: 0
  height: 80px
  overflow: hidden
  background: url('/assets/imgs/banners/banner-new-year.png'), linear-gradient(90deg, #00A975 -3.68%, #004F34 100%)
  color: white
  font-size: 24px
  font-weight: 700
  line-height: normal
  text-transform: uppercase
  &.wrapper
    & > div
      max-width: 1440px
  z-index:99
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px
  > div 
      display: flex
      align-items: center
      justify-content: space-between
      padding: 10px
      * button 
        background-color: #fff !important
        border-radius: 5px !important
        color: #002C9F !important
        font-size: 14px !important
        font-weigh: 400 !important
  @media (max-width: 1200px) 
    background: linear-gradient(90deg, #00A975 -3.68%, #004F34 100%)
  @include m.media(phone, tablet)
    font-size: 14px
    background: linear-gradient(90deg, #00A975 -3.68%, #004F34 100%)
    * button 
      font-size: 12px
    > div
      gap: 10px
      justify-content: centre 
      padding: 5px 10px
      * button 
        min-width: 170px

.infoSales
  display: flex
  align-items: center
  gap: 5px
  transform: rotate(-6.016deg)
  position: absolute
  left: 60%
  @media (max-width: 1200px)
    left: 50%
  text-transform: uppercase
  font-weight: 700
  @include m.media(phone, tablet)
    left: 230px
    top: 35px
  > div:nth-child(1)
    font-size: 90px
    @include m.media(phone, tablet)
      font-size: 40px
  > div:nth-child(2)
    font-size: 24px
    @include m.media(phone, tablet)
      font-size: 14px
    div:nth-child(2) 
      font-size: 14px
      font-weight: 400
  @media (max-width: 550px) 
    left: 35%
    opacity: 0.5
    
    

// .linkReviewLong
//   @media screen and ( max-width: 860px )
//     display: none

// Next to SCSS
