@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/config/Colors.module.sass' as c
    
.component
    background-color: c.$color-grey-bg
    padding-top: 50px
    .cards
        display: grid
        grid-template-columns: repeat(3, 1fr)
        gap: 30px
        margin-top: 50px