.text
  margin-top: 10px
  margin-bottom: 0
  font-size: 22px
  font-weight: 400
  line-height: 30px

.wrapper
  cursor: pointer
  width: 380px
  height: 230px

  @media (max-width: 1200px)
    width: 48%
  @media (max-width: 769px)
    width: 100%

.card
  position: relative
  height: 100%
  border-radius: 20px
  background: #FFF
  box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.08)
  overflow: hidden

  .arrowIcon
    position: absolute
    right: 15px
    top: 10px
    width: 40px
    height: 36px

.front
  padding: 40px 35px
  animation: opacity 1s forwards

.back
  padding: 40px 35px
  height: 100%
  transform: rotateY(180deg)
  border-radius: 20px
  background: linear-gradient(130deg, #E6F5F9 27.38%, #FCE4EC 99.25%)
  animation: opacity 1.2s forwards


@keyframes opacity
  from
    opacity: 0
  to
    opacity: 1
