.mshppWrapper
  background-color: #23282D

  @media (max-width: 768px)
    padding-top: 400px

.mshppCard
  margin-top: 11.25rem
  border: 1px solid white
  background-color: #23282D
  border-radius: 100px 0 100px 0
  display: flex
  justify-content: space-between
  align-items: center
  padding: 50px 100px

  @media (max-width: 979px)
    flex-direction: column
    padding: 20px 60px

  @media (max-width: 460px)
    padding: 20px 60px

  @media (max-width: 460px)
    border-radius: 0

  .contentText
    width: 530px
    color: white

    @media (max-width: 979px)
      width: 100%

    .header
      font-size: 44px
      font-weight: 500

      @media (max-width: 979px)
        font-size: 38px

      @media (max-width: 460px)
        font-size: 32px

    .subHeader
      margin-top: 40px
      font-size: 20px

      @media (max-width: 979px)
        margin-bottom: 35px

      @media (max-width: 460px)
        font-size: 18px