.cardDiscountContainer
  background: #1047D5

  @media (max-width: 1200px)
    padding: 10px 0

  @media (min-width: 768px) and (max-width: 979px)

  @media (max-width: 767px)

.wrapper, .wrapperImg
  display: flex
  justify-content: space-between
  align-items: center

  @media (max-width: 1200px)
    justify-content: flex-start

  @media (max-width: 767px)

  @media (max-width: 520px)
    flex-direction: column

.wrapperImg
  gap: 20px
  width: 90%

  @media (max-width: 1200px)
    flex-direction: column
    align-items: flex-start
    width: 80%
    padding-left: 20px

  @media (max-width: 767px)
    align-items: flex-start
    width: calc(100% - 140px)

  @media (max-width: 520px)
    text-align: center
    width: 100%

.text
  color: #FFF
  font-size: 48px
  font-weight: 700
  line-height: 57px
  margin: 0 0 0 15px

  @media (max-width: 1200px)
    font-size: 42px
    line-height: 48px
    margin: 0

  @media (min-width: 768px) and (max-width: 979px)
    font-size: 38px

  @media (max-width: 767px)
    font-size: 32px

.discountSvg
  width: 124px
  height: 150px


.btn
  @media (max-width: 520px)
    width: 100%
    padding: 20px
    font-size: 20px
