.cardNewTeacher
  list-style-type: none
  border-radius: 20px
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.09)
  padding: 35px
  min-width: 380px
  width: 380px
  max-height: 520px
  overflow: hidden

  @media (max-width: 420px)
    padding-right: 100px

.wrapperImage
  position: relative
  width: 120px
  height: 120px
  border-radius: 100%
  overflow: hidden

.wrapperHeaders
  border-bottom: 1px solid black

  h2
    margin-top: 20px
    font-size: 24px
    font-weight: 700
    line-height: 32px

  h3
    margin-top: 10px
    color: #6165D7
    font-size: 18px
    font-weight: 400
    line-height: 25px

.wrapperDescription
  margin-top: 20px

  p
    font-size: 18px
    font-weight: 400
    line-height: 25px

