@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/config/Colors.module.sass' as c

.component
    display: flex
    position: relative
    .buttonMenu
        display: flex
        gap: 10px
        cursor: pointer
        transition: color 0.3s ease
        &:hover
            color: c.$color-dark-grey
    .openMenu
        position: absolute
        left: 0
        top: 35px
        width: 1200px
        display: grid
        grid-template-columns: 300px 1fr
        gap: 20px
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px
        padding: 30px
        z-index: 6
        border-radius: 20px
        background-color: c.$color-white
        display: none
        &.active
            display: grid
    .leftColumn
        display: flex
        flex-direction: column
        gap: 20px
        .tab
            cursor: pointer
            font-size: 20px
            font-weight: 500
            color: c.$color-dark-grey
            &:hover
                color: c.$color-blue-v3
            &.active
                color: c.$color-blue-v3
    .rightColumn
        display: flex
        flex-wrap: wrap
        gap: 10px
        align-items: flex-start
        justify-content: flex-start
        align-content: flex-start
        max-width: 100%
        width: fit-content
        .link
            display: inline-flex
            padding: 10px 20px
            border: 1px solid c.$color-dark-grey
            font-weight: 400
            border-radius: 20px
            flex-shrink: 0
            flex-grow: 0
            transition: all 0.3s ease
            &:hover
                background-color: c.$color-blue-v3
                color: c.$color-white
    .btnLinkTo
        display: inline-flex
        align-items: center
        gap: 10px
        border: 2px solid c.$color-dark-grey
        padding: 10px 20px
        border-radius: 15px
        color: c.$color-black
        font-weight: 500    
        max-width: fit-content
    .seconLine
        display: flex
