@use 'sass:math'
@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/config/Colors.module.sass' as c
@use '@/styles/layout/cards/cardProgram'
@use '@/styles/layout/programs/programs'

.container
  // @include programs.container
  @include m.media(laptop, desktop)
    @include m.gap($pt: f.px(60))
    &.withFilters
      @include m.gap($pt: 0)
      & > *
        @include m.flex
      & .content
        @include m.flex($display: false, $fb: 75%)

.heading
  display: flex
  justify-content: space-between
  align-items: center

.studyFieldsCounter
  padding: f.px(10)
  border-radius: 50%
  @include m.media(phone, tablet)
    font-size: f.px(15)
    font-weight: 300
  @include m.media(laptop, desktop)
    font-size: f.px(18)
  @include m.dye(bg, c.$beta)
  @include m.dye(c, c.$nu)

.title
  @include m.media(phone, tablet)
    @include m.gap($mb: f.px(10, em))
    font-size: f.px(26)
  @include m.media(laptop, desktop)
    @include m.gap($mb: f.px(25))
    font-size: f.px(44)
  font-weight: 500
  @include m.dye(c, c.$theta)

.subtitle
  @include programs.title
  @include m.media(phone, tablet)
    @include m.gap($mb: f.px(20, em))
  @include m.media(laptop, desktop)
    @include m.gap($mb: f.px(30))
  
.list,
.studyFields
  margin: 0
  padding: 0

.listItem
  display: flex
  flex-direction: column
  & + .listItem
    @include m.media(phone, tablet)
      margin-top: f.px(30)
    @include m.media(laptop, desktop)
      margin-top: f.px(50)

.studyFields
  display: flex
  flex-wrap: wrap

$studyField_ld_mr: 2.75%
.studyField
  display: flex
  @include m.media(phone, tablet)
    flex-basis: 100%
    &:nth-child(1)
      margin-top: 0
  @include m.media(laptop)
    flex-basis: math.div((100% - $studyField_ld_mr * 2), 3)
    margin-right: $studyField_ld_mr
    &:nth-child(3n)
      margin-right: 0
    &:nth-child(-n+3)
      margin-top: 0
  @include m.media(desktop)
    flex-basis: math.div((100% - $studyField_ld_mr * 3), 4)
    margin-right: $studyField_ld_mr
    &:nth-child(4n)
      margin-right: 0
    &:nth-child(-n+4)
      margin-top: 0
  margin-top: f.px(32)

.btn
  @include programs.btn
  margin-top: f.px(32)