// possibly use vmin for font-size https://youtu.be/IWFqGsXxJ1E
// right units https://www.youtube.com/watch?v=N5wpD9Ov_To
// svg https://youtu.be/cWh0de8IhX4
// :focus https://youtu.be/Mvu5OMGcdVA

@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/config/Colors.module.sass' as c

*,
*:before,
*:after
  box-sizing: inherit


html
  box-sizing: border-box
  background: #F1F1F9
  font-family: Manrope

  // scroll-behavior: smooth

main
  overflow-x: hidden

h1
  overflow-wrap: break-word

a, button
  cursor: pointer

a, button
  outline: f.px(1) solid transparent
  outline-offset: f.px(-1)
  transition: outline-offset .25s ease-out, outline-color .25s ease-out
  font-family: Manrope
  &:focus-visible
    outline-offset: f.px(4)
    @include m.dye(outline, c.$nu)

input
  border: f.px(2) solid transparent
  &:focus-visible
    border: f.px(2) solid
    @include m.dye(border, c.$beta)

