@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/config/Colors.module.sass' as c
    
.component
    background-color: c.$mu-2
    padding: 80px 0
    position: relative
    z-index: 1
    .image 
        position: relative
        width: 214px    
        height: 47px
        & > img 
            width: 100%
            height: 100%
            object-fit: cover
            object-position: center
    .label
        margin-top: 100px
    .title
        line-height: 110%
    .description
        font-size: 20px
        font-weight: 500
        line-height: 130%
        color: c.$color-white
        margin-top: 30px
    .buttons 
        display: flex
        gap: 30px
    .imageWrapper
        margin-right: 50px
        position: relative
        width: 370px
        height: 396px
        border-radius:  0 206px 206px 206px
        overflow: hidden
        & img
            width: 100%
            object-fit: cover
    .imageBlock   
        position: relative 
        &::after
            content: ''
            position: absolute
            top: -20px
            left: -80px
            width: 457px
            height: 463px
            background-repeat: no-repeat
            background-size: cover
            background-position: center
            background-image: url('/assets/imgs/hardereducation/elementsaroundpicture.svg')
       
    .content
        display: flex
        gap: 20px
        justify-content: space-between

    &::after
        content: ''
        top: 217px
        right: 0
        position: absolute
        width: 534px
        height: 534px
        background-image: url('/assets/imgs/hardereducation/bgElipses.png')
        background-size: cover
        z-index: -1
    @media (max-width: 1420px)
        .buttons 
           flex-direction: column
        &::before
            top: 650px
            right: 50%
            transform: translateX(50%)
        .diplomas
            margin-top: 300px
    @media (max-width: 700px)
        .title
            font-size: 36px !important
        .label
            font-size: 11px !important
            margin-top: 30px
        .description
            font-size: 16px !important
            margin-top: 20px
        .diplomas
            margin-top: 300px
        &::before
            top: 526px
            width: 400px
            height: 317px
    @media (width > 1550px)
        &::before
            right: null
            left: 52%
            