@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/config/Colors.module.sass' as c

.container
  @include m.sizeIcon($w: 39, $h: 39)
  @include m.flex
  padding: 1px
  border: 1px solid
  border-radius: 50%
  background: linear-gradient(38.5deg, c.$nu-2 2.09%, c.$rho-2 57.98%, c.$xi-2 57.98%)
  &.altStyles
    & circle
      @include m.dye(fill, c.$pi-2)
    & line
      @include m.dye(stroke, c.$nu)
  // @include m.gap($m: f.px(10, em))
  // & path
  //   @include m.dye(stroke, c.$nu)
