@import "src/styles/extends";

.blockHelp {
  position: relative;
  border-radius: 25px;
  background: #3F3BFF;
  padding: 100px 30px;
  overflow: hidden;
  @extend %marginSection;

  @media (max-width: 1810px) {
    padding: 80px 30px;
  }
  @media (max-width: 1600px) {
    padding: 60px 30px;
  }
  @media (max-width: 1290px) {
    padding: 80px 30px;
  }
  @media (max-width: 769px) {
    padding: 60px 30px;
  }
  @media (max-width: 549px) {
    padding: 50px 10px;
  }
}

.header {
  color: #FFF;
  margin: 0;
  position: relative;
  z-index: 100;

  font-size: 38px;
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
  font-family: Unbounded;

  @media (max-width: 1810px) {
    font-size: 36px;
  }
  @media (max-width: 1600px) {
    font-size: 32px;
  }
  @media (max-width: 979px) {
    font-size: 28px;
  }
  @media (max-width: 549px) {
    font-size: 18px;
  }
}

.form {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
  position: relative;
  z-index: 2;
  @extend %marginBlock;

  @media (max-width: 1810px) {
    width: 100%;
  }
  @media (max-width: 1600px) {
    grid-template-columns: 185px 240px 185px 185px 240px;
  }
  @media (max-width: 1290px) {
    grid-template-columns: auto;
    grid-template-rows: 60px;
  }

  input {
    border-radius: 12px;
    background: #FFF;
    padding: 15px 20px;
    @extend %text;
    @extend %inputHeight;
  }

  .btnSubmit {
    text-align: center;
    padding: 15px;
    @extend %inputHeight;
  }
}

.textPolitic, .linkPolitic {
  position: relative;
  z-index: 10;
  color: #F4F4F4;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  margin-top: 20px;
}

.wrapperImage {
  position: absolute;
  bottom: 0;
  right: -30px;
  width: 860px;
  height: 403px;

  @media (max-width: 769px) {
    right: -296px;
  }

  img {
    object-fit: contain;
  }
}
