@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/config/Colors.module.sass' as c

.component
    padding-bottom: 60px
    .title
        @media (max-width: 1200px)
            font-size: 22px !important
    .list
        display: grid
        gap: 30px
        grid-template-columns: repeat(4, 1fr)
        margin-top: 30px
        @media (max-width: 1200px)
            grid-template-columns: 1fr
    .card
        min-height: 145px
        transition: transform 0.3s ease
        &:hover
            transform: scale(1.05)