@use 'sass:math'
@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/config/Colors.module.sass' as c
@use '@/styles/utils/mixin/media' as bp

.container
  @include m.media(phone, tablet)
    padding-top: f.px(50)
    padding-bottom: f.px(50)
  @include m.media(laptop, desktop)
    padding-top: f.px(100)
    padding-bottom: f.px(100)
  @include m.dye(bg, c.$mu-2)

.wrapper
  @include m.media(laptop, desktop)
    display: flex

$right_ld_ml: 2.8%
.left
  @include m.media(laptop, desktop)
    flex-basis: math.div(100% - ($right_ld_ml * 1), 2)

.right
  @include m.media(laptop, desktop)
    display: flex
    justify-content: flex-end
    align-items: flex-start
    flex-basis: math.div(100% - ($right_ld_ml * 1), 2)
    margin-left: $right_ld_ml

.title
  margin: 0
  @include m.media(phone, tablet)
    font-size: f.px(26)
  @include m.media(laptop, desktop)
    font-size: f.px(44)
  font-weight: 500
  line-height: 120%
  @include m.dye(c, c.$nu)

.p
  margin: 0
  @include m.media(phone, tablet)
    margin-top: f.px(20)
    font-size: f.px(15)
  @include m.media(laptop, desktop)
    margin-top: f.px(30)
    font-size: f.px(20)
  font-weight: 500
  line-height: 120%
  @include m.dye(c, rgba(c.$nu, .5))

.list
  margin: 0
  padding: 0
  @include m.media(phone, tablet)
    margin-top: f.px(37)
  @include m.media(laptop, desktop)
    display: flex
    flex-wrap: wrap
    margin-top: f.px(50)

$listItem_ld_ml: 5.2%
.listItem
  display: flex
  @include m.media(phone, tablet)
    & + .listItem
      margin-top: f.px(20)
  @include m.media(laptop, desktop)
    flex-basis: math.div(100% - ($listItem_ld_ml * 1), 2)
    min-height: f.px(185)
    &:nth-child(n + 3)
      margin-top: f.px(30)
    &:nth-child(even)
      margin-left: $listItem_ld_ml
  border-radius: f.px(25)

.listItemTestimonial
  padding: 1px
  background: linear-gradient(38.5deg, c.$nu-2 2.09%, c.$xi-2 57.98%)

.listItemTestimonialBody
  min-width: 100%
  max-width: 100%
  min-height: 100%
  max-height: 100%
  @include m.media(phone, tablet)
    padding: f.px(20)
  @include m.media(laptop, desktop)
    padding: f.px(25)
  border-radius: inherit
  @include m.dye(bg, c.$mu-2)

.listItemTitle
  margin: 0
  @include m.dye(c, c.$xi-2)
  @include m.media(phone, tablet)
    font-size: f.px(36)
  @include m.media(laptop, desktop)
    font-size: f.px(44)
  font-weight: 500
  line-height: 120%

.listItemText
  margin: 0
  @include m.media(phone, tablet)
    margin-top: f.px(20)
    font-size: f.px(15)
  @include m.media(laptop, desktop)
    margin-top: f.px(10)
    font-size: f.px(20)
  font-weight: 400
  line-height: 120%
  @include m.dye(c, c.$nu)

.btnContainer
  min-width: 100%
  max-width: 100%
  @include m.media(laptop, desktop)
    display: flex
    min-height: 100%
    max-height: 100%

.btn
  display: flex
  align-items: center
  @include m.media(laptop, desktop)
    justify-content: space-between
    &.btnZeta
      padding-right: f.px(25)
      padding-left: f.px(25)
      min-width: 100%
      max-width: 100%
      min-height: 100%
      max-height: 100%

.btnText
  @include m.media(phone, tablet)
    margin-left: auto

.IconGeneralArrowRightAlt
  max-width: f.px(24)
  @include m.media(phone, tablet)
    margin-left: auto
  @include m.media(laptop, desktop)
    margin-left: 6%

.img
  position: relative
  z-index: 1
  & > *
    border-radius: f.px(100) 0
  @include m.media(phone, tablet)
    margin-top: f.px(46)
  @include m.media(laptop, desktop)
    max-width: max-content
    &::before
      content: ''
      position: absolute
      z-index: -1
      bottom: f.px(-40)
      right: 0
      min-width: f.px(170)
      max-width: f.px(170)
      min-height: f.px(170)
      max-height: f.px(170)
      border-radius: 50%
      filter: blur(192px)
      @include m.dye(bg, rgba(c.$xi-2, .5))
    &::after
      content: ''
      position: absolute
      z-index: -1
      top: f.px(-30)
      left: f.px(-100)
      min-width: f.px(270)
      max-width: f.px(270)
      min-height: f.px(270)
      max-height: f.px(270)
      border-radius: 50%
      filter: blur(192px)
      @include m.dye(bg, rgba(c.$xi-2, .5))

.highlight
  font-weight: 500
  @include m.dye(c, c.$nu)