@use 'sass:math'
@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/config/Colors.module.sass' as c
@use '@/styles/utils/mixin/media' as bp

.container
  @include m.media(phone, tablet)
    padding-top: f.px(50)
    padding-bottom: f.px(50)
  @include m.media(laptop, desktop)
    padding-top: f.px(100)
    padding-bottom: f.px(100)
  overflow: hidden
  @include m.dye(bg, c.$pi-2)

.heading
  display: flex
  justify-content: space-between

.title
  margin: 0
  @include m.media(phone, tablet)
    font-size: f.px(26)
  @include m.media(laptop, desktop)
    font-size: f.px(44)
  font-weight: 500
  line-height: 120%
  @include m.dye(c, c.$nu)

.controls
  display: flex
  justify-content: center
  align-items: center
  @include m.media(phone, tablet)
    display: none

.controlsIcon
  min-width: f.px(14)
  max-width: f.px(14)
  min-height: f.px(14)
  max-height: f.px(14)
  &.dim
    opacity: .5

.controlsArrowLeftIcon
  transform: rotate(180deg)

.controlsArrowRight
  margin-left: f.px(27)

.list
  margin: 0
  padding: 0
  margin-top: f.px(50)
  @include m.media(phone, tablet)
  @include m.media(laptop, desktop)
    display: flex
    transition: transform .15s ease-out

.listItem
  display: flex
  @include m.media(phone, tablet)
    padding: f.px(20)
    & + .listItem
      margin-top: f.px(30)
    &:nth-child(n + 4)
      display: none
  @include m.media(laptop, desktop)
    flex-basis: 41%
    min-width: 41%
    margin-right: f.px(30)
    padding: f.px(25)
  border-radius: f.px(25)
  @include m.dye(bg, c.$nu)

.itemBody
  padding: 1px
  border-radius: inherit
  background: linear-gradient(38.5deg, c.$nu-2 2.09%, c.$xi-2 57.98%)

.itemBodyContainer
  display: flex
  flex-direction: column
  justify-content: space-between
  min-height: 100%
  padding: f.px(25)
  border-radius: inherit
  @include m.dye(bg, c.$nu)

.itemStory
  margin: 0
  font-size: f.px(15)
  font-weight: 500
  line-height: 120%

.author
  display: flex
  @include m.media(phone, tablet)
    padding-top: f.px(20)
  @include m.media(laptop, desktop)
    padding-top: f.px(30)

.img
  border-radius: f.px(25)
  overflow: hidden
  min-width: f.px(70)
  max-width: f.px(70)
  min-height: f.px(70)
  max-height: f.px(70)

.authorCredits
  margin-left: f.px(15)

.authorName
  margin: 0
  font-size: f.px(13)
  font-weight: 500
  line-height: 120%
  @include m.dye(c, c.$mu-2)

.itemProfession
  margin: 0
  margin-top: f.px(5)
  font-size: f.px(13)
  font-weight: 500
  line-height: 120%
  @include m.dye(c, c.$kappa)
