@use 'sass:math'
@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/config/Colors.module.sass' as c
@use '@/styles/utils/mixin/media' as bp

.container
  @include m.media(phone, tablet)
    padding-top: f.px(50)
    padding-bottom: f.px(50)
  @include m.media(laptop, desktop)
    padding-top: f.px(100)
    padding-bottom: f.px(100)

.title
  margin: 0
  @include m.media(phone, tablet)
    font-size: f.px(26)
  @include m.media(laptop, desktop)
    font-size: f.px(44)
  font-weight: 500
  line-height: 120%
  @include m.dye(c, c.$mu-2)

.content
  @include m.media(phone, tablet)
    margin-top: f.px(20)
  @include m.media(laptop, desktop)
    display: flex
    margin-top: f.px(30)

.diplomas
  @include m.media(phone, tablet)
    margin-top: f.px(50)
  @include m.media(laptop, desktop)
    display: grid
    grid-template-columns: 1fr 1fr
    gap: 10px
    margin-top: f.px(90)

$right_lp_ml: 2.6%
$leftright_ld_difference: 1%
.left
  @include m.media(laptop, desktop)
    flex-basis: math.div(100% - ($right_lp_ml * 1), 2) - $leftright_ld_difference

.right
  @include m.media(laptop, desktop)
    flex-basis: math.div(100% - ($right_lp_ml * 1), 2) + $leftright_ld_difference
    margin-left: $right_lp_ml

.p
  margin: 0
  @include m.media(phone, tablet)
    font-size: f.px(15)
  @include m.media(laptop, desktop)
    font-size: f.px(20)
  font-weight: 500
  line-height: 130%
  @include m.dye(c, c.$kappa)

.licenceLink
  &.altStyles
    align-items: center
    border-radius: f.px(25)
    font-weight: 500
    @include m.media(laptop, desktop)
      padding-top: f.px(27)
      padding-right: f.px(30)
      padding-bottom: f.px(27)
      padding-left: f.px(30)
    @include m.dye(c, rgba(c.$nu, .5))
  display: flex
  justify-content: space-between
  font-weight: 300
  @include m.media(phone, tablet)
    margin-top: f.px(50)
    padding: f.px(20)
    font-size: f.px(15)

.IconGeneralArrowRightAlt
  min-width: f.px(14)
  max-width: f.px(14)
  min-height: f.px(14)
  max-height: f.px(14)
  margin-left: 6%

.diploma
  display: block
  max-height: 455px
  
  @include m.media(phone, tablet)
    margin-bottom: f.px(30)
  overflow: hidden
  border-radius: f.px(25)
  img 
    width: 100%
    height: 100%
    object-fit: cover


.highlight
  @include m.dye(c, c.$nu)

.mb0
  margin-bottom: 0