@use 'sass:math'
@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/config/Colors.module.sass' as c
@use '@/styles/utils/mixin/media' as bp

.container
  @include m.media(phone, tablet)
    padding-top: f.px(50)
  @include m.media(laptop, desktop)
    padding-top: f.px(100)

.wrapper
  @include m.media(laptop, desktop)
    display: flex
    justify-content: space-between

$right_ld_ml: 5%
.left
  @include m.media(laptop, desktop)
    flex-basis: math.div(100% - $right_ld_ml * 1, 2) + 3%

.right
  position: relative
  @include m.media(phone, tablet)
    margin-top: f.px(50)
  @include m.media(laptop, desktop)
    display: flex
    justify-content: flex-end
    align-items: center
    flex-basis: math.div(100% - $right_ld_ml * 1, 2)
    margin-left: $right_ld_ml
  &::after
    content: ''
    position: absolute
    top: 0
    border-radius: 50%
    @include m.media(phone, tablet)
      left: f.px(-10)
      min-width: f.px(74)
      max-width: f.px(74)
      min-height: f.px(74)
      max-height: f.px(74)
      filter: blur(50px)
    @include m.media(laptop, desktop)
      left: f.px(-85)
      min-width: f.px(170)
      max-width: f.px(170)
      min-height: f.px(170)
      max-height: f.px(170)
      filter: blur(100px)
    @include m.dye(bg, rgba(c.$xi-2, .8))

.title
  margin: 0
  @include m.media(phone, tablet)
    font-size: f.px(26)
  @include m.media(laptop, desktop)
    max-width: 17ch
    font-size: f.px(44)
  font-weight: 500
  line-height: 120%
  @include m.dye(c, c.$mu-2)

.p
  margin: 0
  @include m.media(phone, tablet)
    margin-top: f.px(20)
    font-size: f.px(15)
  @include m.media(laptop, desktop)
    margin-top: f.px(30)
    font-size: f.px(20)
  font-weight: 500
  line-height: 130%
  @include m.dye(c, c.$kappa)

.img
  @include m.media(phone, tablet)
    max-width: max-content
  @include m.media(laptop, desktop)
    max-width: f.px(470)
  overflow: hidden
  border-radius: f.px(100) 0