@use 'sass:math'
@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/config/Colors.module.sass' as c

.container
  display: flex
  flex-wrap: wrap
  top: 50px
  position: relative
  justify-content: space-between
  @include m.media(phone, tablet)
    padding-right: f.px(30)
    padding-left: f.px(30)
  @include m.media(laptop, desktop)
    // @include m.gap($ptb: $containerDesktopPtb, $plr: 5%)
  box-shadow: 0 f.px(4) f.px(40) rgba(0, 0, 0, .05)
  border-radius: f.px(20)
  @include m.dye(bg, c.$nu)

$group_lp_mr: 2.6%
.group
  position: relative
  display: flex
  @include m.media(phone, tablet)
    flex-grow: 1
    flex-shrink: 1
    flex-basis: 100%
    padding-top: f.px(30)
    &.withInfo
      padding-right: f.px(110)
    padding-bottom: f.px(30)
    border-bottom: 1px solid
  @include m.media(laptop, desktop)
    flex-direction: column
    flex-grow: 1
    flex-shrink: 1
    flex-basis: math.div(100% - $group_lp_mr * 4, 5)
    padding-top: f.px(30)
    padding-left: $group_lp_mr
    padding-right: $group_lp_mr
    padding-bottom: f.px(30)
    border-right: 1px solid
  @include m.dye(border, rgba(c.$theta, .1))

.infoLabel
  position: absolute
  @include m.media(phone, tablet)
    top: 50%
    right: 0
    transform: translateY(-50%)
  @include m.media(laptop, desktop)
    top: f.px(15)
    right: f.px(15)
  font-size: f.px(13)
  font-weight: 700
  line-height: 120%
  text-decoration: underline
  @include m.dye(c, c.$beta)
  transition: transform .15s ease-in-out
  &.altStyles
    @include m.dye(c, c.$xi-2)
  &:focus-visible
    transform: scale(1.06)

.IconGeneralInfo
  min-width: f.px(26)
  max-width: f.px(26)
  min-height: f.px(26)
  max-height: f.px(26)

.infoContent
  min-width: 22ch
  padding: f.px(20)
  border-radius: f.px(15)
  @include m.dye(bg, c.$nu)

.infoContentP
  margin: 0
  & + .infoContentP
    margin-top: f.px(11)
  font-size: f.px(14)
  font-weight: 500
  line-height: 120%
  @include m.dye(c, c.$kappa)

.icon
  min-width: f.px(24)
  max-width: f.px(24)
  @include m.media(phone, tablet)
    margin-right: f.px(15)
  @include m.media(laptop, desktop)
    margin-bottom: f.px(10)

.key
  &.altStyles
    font-weight: 500
    line-height: 120%
    @include m.dye(c, c.$kappa)
  @include m.media(phone, tablet)
    max-width: 13ch
    margin-bottom: f.px(5)
    font-size: f.px(15)
  @include m.media(laptop, desktop)
    margin-bottom: f.px(7)
    font-size: f.px(14)
  font-weight: 300

.val
  margin-bottom: 0
  @include m.media(laptop, desktop)
    font-size: f.px(18)
  font-weight: 500

.highlight
  @include m.dye(c, c.$alpha)
  &.altStyles
    @include m.dye(c, c.$nu-2)


.section
  background-color: c.$mu-2
  padding-bottom: 0
  overflow: visible
  .contaiber
    overflow: visible