@use '@/styles/vendors'
@use '@/styles/base'

.container
  font-family: "Alegreya Sans", sans-serif
  width: 1180px
  margin: 0 auto
  padding: 0
  position: relative

.hidden
  display: none


.MuiTooltip-tooltip
  padding: 10px 8px
  font-size: 14px
