@import 'src/styles/extends';

.block {
  border-radius: 20px;
  background: #fff;
  padding: 30px;

  @media (max-width: 769px) {
    padding: 30px 10px;
  }

  .wrapperHeader {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header {
      color: #000;
      @extend %titleText;
    }

    .wrapperSvg {
      svg {
        width: 20px;
        height: 20px;
      }
    }
  }

  .wrapperDescription {
    width: 70%;
    margin-top: 20px;
    color: #000;
    @extend %text;
  }
}
