.slider {
  position: relative;
  width: 100%;
}

.wrapperCard {
  width: 100%;
  overflow: hidden;
}

.listItem {
  display: flex;
  gap: 20px;
}

.wrapperBtn {
  display: flex;
  gap: 20px;

  .btn {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;

    svg {
      path {
        opacity: 0.3;
      }
    }
    svg:hover {
      path {
        opacity: 1;
      }
    }
  }
}
