@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/config/Colors.module.sass' as c


.highlightFw
  position: relative
  font-weight: 500

.IconGeneralTextDecorativeUnderline
  @include m.media(phone, tablet)
    display: none
  @include m.media(laptop, desktop)
    position: absolute
    min-width: 100%
    max-width: 100%
    bottom: f.px(-14)
    left: 0

.highlightC
  @include m.dye(c, c.$nu-2)